<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title th:text="${pageName}">페이지 이름</title>
</head>
<body>
<div>
  <h1><a th:href="@{/{type}(type=${loginType})}"
         th:text="${pageName}">페이지 이름</a></h1>
  <hr/>

  <div th:if="${name == null}">
    <h3>로그인 되어있지 않습니다!</h3>
    <a th:href="@{/{type}/join(type=${loginType})}"><button>회원 가입</button></a><br/><br/>
    <a th:href="@{/{type}/login(type=${loginType})}"><button>로그인</button></a>
  </div>

  <div th:unless="${name == null}">
    <h3 th:text="${name} + '님 환영합니다!'">환영합니다</h3>
    <a th:href="@{/{type}/info(type=${loginType})}"><button>마이 페이지</button></a><br/><br/>
    <a th:href="@{/{type}/admin(type=${loginType})}"><button>관리자 페이지</button></a><br/><br/>
    <a th:href="@{/{type}/logout(type=${loginType})}"><button>로그아웃</button></a>
  </div>
</div>
</body>
</html>
